## .NET ##
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/.vs/

## Node / React ##
frontend/node_modules/
frontend/dist/
frontend/.vite/

## Ambiente / Segredos ##
.env
.env.local
**/appsettings.Development.json
**/appsettings.Production.json

## Editor ##
.vscode/*
!.vscode/extensions.json

## SO ##
.DS_Store
Thumbs.db